!osx/CGuide.app
ios/CGuide/cordova/build
CGuide/cordova/build


c_guide/bower_components/css-colors-solarized/src/index.html
    c_guide/bower_components/css-colors-solarized/src/styles/index.html
    c_guide/bower_components/css-colors-solarized/styles/index.html
    c_guide/bower_components/normalize-css/index.html
    c_guide/bower_components/solarized/css/index.html
    c_guide/bower_components/solarized/index.html
    c_guide/bower_components/solarized/scss/index.html
    c_guide/bower_components/wordpress/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/blue/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/coffee/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/ectoplasm/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/light/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/midnight/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/ocean/index.html
    c_guide/bower_components/wordpress/wp-admin/css/colors/sunrise/index.html
    c_guide/bower_components/wordpress/wp-admin/css/index.html
    c_guide/bower_components/wordpress/wp-admin/images/index.html
    c_guide/bower_components/wordpress/wp-admin/includes/index.html
    c_guide/bower_components/wordpress/wp-admin/index.html
    c_guide/bower_components/wordpress/wp-admin/js/index.html
    c_guide/bower_components/wordpress/wp-admin/maint/index.html
    c_guide/bower_components/wordpress/wp-admin/network/index.html
    c_guide/bower_components/wordpress/wp-admin/user/index.html
    c_guide/bower_components/wordpress/wp-content/index.html
    c_guide/bower_components/wordpress/wp-content/plugins/index.html
    c_guide/bower_components/wordpress/wp-content/themes/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/colors/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/images/headers/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/images/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/js/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/css/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/genericons/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/js/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/css/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/genericons/font/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/genericons/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/images/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/js/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/page-templates/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyten/images/headers/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyten/images/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentyten/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/css/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/genericons/font/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/genericons/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/images/headers/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/images/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/js/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/css/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/js/index.html
    c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/page-templates/index.html
    c_guide/bower_components/wordpress/wp-includes/ID3/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Cache/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Content/Type/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Content/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Decode/HTML/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Decode/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/HTTP/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Net/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/Parse/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/XML/Declaration/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/XML/index.html
    c_guide/bower_components/wordpress/wp-includes/SimplePie/index.html
    c_guide/bower_components/wordpress/wp-includes/Text/Diff/Engine/index.html
    c_guide/bower_components/wordpress/wp-includes/Text/Diff/Renderer/index.html
    c_guide/bower_components/wordpress/wp-includes/Text/Diff/index.html
    c_guide/bower_components/wordpress/wp-includes/Text/index.html
    c_guide/bower_components/wordpress/wp-includes/certificates/index.html
    c_guide/bower_components/wordpress/wp-includes/css/index.html
    c_guide/bower_components/wordpress/wp-includes/customize/index.html
    c_guide/bower_components/wordpress/wp-includes/fonts/index.html
    c_guide/bower_components/wordpress/wp-includes/images/crystal/index.html
    c_guide/bower_components/wordpress/wp-includes/images/index.html
    c_guide/bower_components/wordpress/wp-includes/images/media/index.html
    c_guide/bower_components/wordpress/wp-includes/images/smilies/index.html
    c_guide/bower_components/wordpress/wp-includes/images/wlw/index.html
    c_guide/bower_components/wordpress/wp-includes/index.html
    c_guide/bower_components/wordpress/wp-includes/js/crop/index.html
    c_guide/bower_components/wordpress/wp-includes/js/imgareaselect/index.html
    c_guide/bower_components/wordpress/wp-includes/js/index.html
    c_guide/bower_components/wordpress/wp-includes/js/jcrop/index.html
    c_guide/bower_components/wordpress/wp-includes/js/jquery/index.html
    c_guide/bower_components/wordpress/wp-includes/js/jquery/ui/index.html
    c_guide/bower_components/wordpress/wp-includes/js/mediaelement/index.html
    c_guide/bower_components/wordpress/wp-includes/js/plupload/index.html
    c_guide/bower_components/wordpress/wp-includes/js/swfupload/index.html
    c_guide/bower_components/wordpress/wp-includes/js/swfupload/plugins/index.html
    c_guide/bower_components/wordpress/wp-includes/js/thickbox/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/langs/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/charmap/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/colorpicker/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/compat3x/css/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/compat3x/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/directionality/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/fullscreen/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/hr/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/image/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/lists/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/media/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/paste/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/tabfocus/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/textcolor/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wordpress/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpautoresize/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpdialogs/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpeditimage/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpembed/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpemoji/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpgallery/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wplink/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wptextpattern/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpview/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/lightgray/fonts/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/lightgray/img/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/lightgray/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/wordpress/images/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/wordpress/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/themes/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/themes/modern/index.html
    c_guide/bower_components/wordpress/wp-includes/js/tinymce/utils/index.html
    c_guide/bower_components/wordpress/wp-includes/pomo/index.html
    c_guide/bower_components/wordpress/wp-includes/random_compat/index.html
    c_guide/bower_components/wordpress/wp-includes/rest-api/index.html
    c_guide/bower_components/wordpress/wp-includes/theme-compat/index.html
    c_guide/bower_components/wordpress/wp-includes/widgets/index.html
    c_guide/js/index.html
    c_guide/js/min/index.html
    osx/CGuide.app/Contents/MacOS/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/css-colors-solarized/src/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/css-colors-solarized/src/styles/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/css-colors-solarized/styles/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/normalize-css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/solarized/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/solarized/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/solarized/scss/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/blue/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/coffee/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/ectoplasm/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/light/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/midnight/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/ocean/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/colors/sunrise/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/includes/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/maint/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/network/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-admin/user/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/plugins/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/colors/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/images/headers/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyeleven/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/genericons/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfifteen/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/genericons/font/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/genericons/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyfourteen/page-templates/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyten/images/headers/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyten/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentyten/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/genericons/font/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/genericons/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/images/headers/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentythirteen/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-content/themes/twentytwelve/page-templates/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/ID3/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Cache/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Content/Type/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Content/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Decode/HTML/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Decode/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/HTTP/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Net/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/Parse/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/XML/Declaration/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/XML/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/SimplePie/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/Text/Diff/Engine/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/Text/Diff/Renderer/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/Text/Diff/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/Text/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/certificates/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/customize/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/fonts/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/images/crystal/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/images/media/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/images/smilies/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/images/wlw/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/crop/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/imgareaselect/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/jcrop/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/jquery/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/jquery/ui/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/mediaelement/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/plupload/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/swfupload/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/swfupload/plugins/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/thickbox/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/langs/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/charmap/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/colorpicker/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/compat3x/css/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/compat3x/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/directionality/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/fullscreen/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/hr/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/image/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/lists/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/media/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/paste/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/tabfocus/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/textcolor/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wordpress/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpautoresize/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpdialogs/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpeditimage/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpembed/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpemoji/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpgallery/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wplink/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wptextpattern/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/plugins/wpview/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/lightgray/fonts/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/lightgray/img/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/lightgray/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/wordpress/images/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/skins/wordpress/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/themes/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/themes/modern/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/js/tinymce/utils/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/pomo/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/random_compat/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/rest-api/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/theme-compat/index.html
    osx/CGuide.app/Contents/Resources/c_guide/bower_components/wordpress/wp-includes/widgets/index.html
    osx/CGuide.app/Contents/Resources/c_guide/js/index.html
    osx/CGuide.app/Contents/Resources/c_guide/js/min/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/fonts/bootstrap/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/fonts/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/javascripts/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/sass/bootstrap-sass/bootstrap/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/sass/bootstrap-sass/bootstrap/mixins/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/sass/bootstrap-sass/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/sass/index.html
    osx/CGuide.app/Contents/Resources/c_guide/usf-bootstrap-theme/stylesheets/index.html
    osx/CGuide.app/Contents/Resources/en.lproj/index.html
    osx/CGuide.app/Contents/Resources/index.html
    osx/CGuide.app/Contents/index.html
    osx/CGuide.app/index.html


# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
